body {
  background-color: #d1edf2;
  color: #357376;
}

hr {
  border-color: grey;
  border-style: dotted none none none;
  border-width: 8px;
  width: 10%;
}

img {
  height: 192px;
  width: 192px;
}

h1 {
  color: #1d4d4f;
}

h3 {
  color: #1d4d4f;
}
